/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type=button][disabled],
[type=reset][disabled],
[type=submit][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

img {
  max-width: 100%;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.l_container {
  margin: 0 auto;
  width: 92%;
  max-width: 1080px;
  padding: 0 20px;
}

.m_section_title {
  line-height: 34px;
  font-weight: 700;
  font-size: 24px;
  margin-top: 60px;
  letter-spacing: 6px;
  text-align: center;
  color: #606651;
}
@media screen and (min-width: 768px) {
  .m_section_title {
    font-size: 40px;
    line-height: 54px;
  }
}
@media screen and (min-width: 1440px) {
  .m_section_title {
    font-size: 60px;
    line-height: 84px;
  }
}
.m_section_title__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.m_section_title__container.__mission {
  padding-bottom: 60px;
}
.m_section_title__container.__services {
  padding-top: 80px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .m_section_title__container.__services {
    position: relative;
  }
}
.m_section_title__container.__works, .m_section_title__container.__recruit, .m_section_title__container.__company, .m_section_title__container.__contact {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .m_section_title__container.__works, .m_section_title__container.__recruit, .m_section_title__container.__company, .m_section_title__container.__contact {
    margin: 100px 0;
  }
}
@media screen and (min-width: 768px) {
  .m_section_title__container.__contact {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .m_section_title__container.__pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
  }
}
.m_section_title__accent {
  color: #9c6251;
}
@media screen and (min-width: 768px) {
  .m_section_title + .m_section_subtitle {
    font-size: 15px;
    line-height: 22px;
  }
}
@media screen and (min-width: 1440px) {
  .m_section_title + .m_section_subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
  }
}
.m_section_title + .m_section_subtitle.__contact {
  margin-top: 40px;
}
.m_section_title + .m_section_subtitle.__works {
  text-align: center;
}
.m_section_title + .m_section_subtitle.__works .m_services__pc-bp {
  display: none;
}
.m_section_title + .m_section_subtitle.__recruit {
  text-align: center;
}
.m_section_title + .m_section_subtitle.__recruit .m_services__pc-bp {
  display: none;
}
.m_section_title + .m_section_subtitle.__pc {
  margin-top: 45px;
}

.m_icon-small {
  width: 50px;
  height: 50px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .m_icon-small {
    display: none;
  }
}
.m_icon-small img {
  -webkit-animation: logoRotate 10s infinite ease;
          animation: logoRotate 10s infinite ease;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
.m_icon-small__pc {
  display: none;
}
@media screen and (min-width: 768px) {
  .m_icon-small__pc {
    display: block;
    position: absolute;
    top: 5%;
    left: -97%;
  }
}
@media screen and (min-width: 1440px) {
  .m_icon-small__pc {
    display: block;
    position: absolute;
    top: 25%;
    left: -135%;
  }
}
.m_icon-small__pc img {
  -webkit-animation: logoRotate 10s infinite ease;
          animation: logoRotate 10s infinite ease;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
.m_icon-small.__recruit img {
  position: absolute;
  left: -50%;
}
.m_icon-middle {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.m_icon-middle img {
  -webkit-animation: logoRotate 10s infinite ease;
          animation: logoRotate 10s infinite ease;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
.m_icon-middle__pc {
  display: none;
}
@media screen and (min-width: 768px) {
  .m_icon-middle__pc {
    display: block;
    position: absolute;
    right: 0;
  }
  .m_icon-middle__pc img {
    -webkit-animation: logoRotate 10s infinite ease;
            animation: logoRotate 10s infinite ease;
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
}
@media screen and (min-width: 1440px) {
  .m_icon-middle__pc {
    display: block;
    position: absolute;
    right: -5%;
  }
  .m_icon-middle__pc img {
    -webkit-animation: logoRotate 10s infinite ease;
            animation: logoRotate 10s infinite ease;
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
}
.m_icon-middle__pc.__works {
  text-align: left;
  left: 0;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
}
@media screen and (min-width: 768px) {
  .m_icon-middle__pc.__works {
    -webkit-transform: scale(0.5) translateY(-90%);
            transform: scale(0.5) translateY(-90%);
    left: -33%;
  }
}
@media screen and (min-width: 1440px) {
  .m_icon-middle__pc.__works {
    -webkit-transform: scale(1) translateY(-50%);
            transform: scale(1) translateY(-50%);
    left: -8%;
    width: 90%;
  }
}
.m_icon-middle__pc.__works img {
  -webkit-animation: logoRotate 10s infinite ease;
          animation: logoRotate 10s infinite ease;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
.m_icon-middle__pc.__recruit {
  right: 0;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
}
.m_icon-middle__pc.__recruit img {
  -webkit-animation: logoRotate 10s infinite ease;
          animation: logoRotate 10s infinite ease;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
.m_icon-middle__pc.__company-sm {
  left: -9%;
  top: -70%;
}
@media screen and (min-width: 1440px) {
  .m_icon-middle__pc.__company-sm {
    left: -25%;
    width: 100vw;
    top: -60%;
  }
}
.m_icon-middle__pc.__company-sm img {
  -webkit-animation: logoRotate 10s infinite ease;
          animation: logoRotate 10s infinite ease;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
.m_icon-middle__pc.__company-md {
  right: -9%;
  top: -50%;
}
@media screen and (min-width: 1440px) {
  .m_icon-middle__pc.__company-md {
    right: -28%;
    top: -40%;
  }
}
.m_icon-middle__pc.__company-md img {
  -webkit-animation: logoRotate 10s infinite ease;
          animation: logoRotate 10s infinite ease;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
.m_icon-big {
  text-align: right;
}
.m_icon-big img {
  -webkit-animation: logoRotate 10s infinite ease;
          animation: logoRotate 10s infinite ease;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
.m_icon-big__pc {
  display: none;
}
@media screen and (min-width: 768px) {
  .m_icon-big__pc {
    display: block;
    position: absolute;
    text-align: right;
    top: -110%;
    right: -55%;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}
.m_icon-big__pc img {
  -webkit-animation: logoRotate 10s infinite ease;
          animation: logoRotate 10s infinite ease;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
@media screen and (min-width: 1440px) {
  .m_icon-big__pc {
    display: block;
    position: absolute;
    text-align: right;
    top: -120%;
    right: -110%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .m_icon-big__pc img {
    -webkit-animation: logoRotate 10s infinite ease;
            animation: logoRotate 10s infinite ease;
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
}
@-webkit-keyframes logoRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@keyframes logoRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

.m_mission_content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .m_mission_content__wrapper {
    width: 320px;
    height: 300px;
  }
}
@media screen and (min-width: 768px) {
  .m_mission_content__wrapper {
    -webkit-transform: scale(1.1) translateY(20%);
            transform: scale(1.1) translateY(20%);
  }
}
.m_mission_content__wrapper:nth-of-type(1) {
  top: -50%;
}
@media screen and (min-width: 768px) {
  .m_mission_content__wrapper:nth-of-type(1) {
    top: -83%;
  }
}
@media screen and (min-width: 1080px) {
  .m_mission_content__wrapper:nth-of-type(1) {
    top: -55%;
  }
}
@media screen and (min-width: 1440px) {
  .m_mission_content__wrapper:nth-of-type(1) {
    top: -39%;
  }
}
.m_mission_content__wrapper:nth-of-type(1) .m_misson_content__title {
  font-size: 15px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .m_mission_content__wrapper:nth-of-type(1) .m_misson_content__title {
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .m_mission_content__wrapper:nth-of-type(1) .m_misson_content__title {
    font-size: 20px;
    line-height: 30px;
  }
}
.m_mission_content__wrapper:nth-of-type(1) .m_mission_content__sentence {
  font-size: 13px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .m_mission_content__wrapper:nth-of-type(1) .m_mission_content__sentence {
    font-size: 14px;
    line-height: 20px;
  }
}
@media screen and (min-width: 768px) {
  .m_mission_content__wrapper:nth-of-type(1) .m_mission_content__sentence {
    font-size: 16px;
    line-height: 24px;
  }
}
.m_mission_content__wrapper:nth-of-type(2) {
  bottom: -94%;
  left: -8%;
}
@media screen and (min-width: 768px) {
  .m_mission_content__wrapper:nth-of-type(2) {
    bottom: -83%;
    left: -25%;
  }
}
@media screen and (min-width: 1080px) {
  .m_mission_content__wrapper:nth-of-type(2) {
    bottom: -66%;
    left: -20%;
  }
}
@media screen and (min-width: 1440px) {
  .m_mission_content__wrapper:nth-of-type(2) {
    bottom: -40%;
    left: -23%;
  }
}
.m_mission_content__wrapper:nth-of-type(2) .m_misson_content__title {
  font-size: 13px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .m_mission_content__wrapper:nth-of-type(2) .m_misson_content__title {
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .m_mission_content__wrapper:nth-of-type(2) .m_misson_content__title {
    font-size: 20px;
    line-height: 30px;
  }
}
.m_mission_content__wrapper:nth-of-type(2) .m_mission_content__sentence {
  font-size: 11px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .m_mission_content__wrapper:nth-of-type(2) .m_mission_content__sentence {
    font-size: 14px;
    line-height: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .m_mission_content__wrapper:nth-of-type(2) .m_mission_content__sentence {
    font-size: 16px;
    line-height: 24px;
  }
}
.m_mission_content__wrapper:nth-of-type(3) {
  bottom: -86%;
  right: -6%;
}
@media screen and (min-width: 768px) {
  .m_mission_content__wrapper:nth-of-type(3) {
    bottom: -75%;
    right: -25%;
  }
}
@media screen and (min-width: 1080px) {
  .m_mission_content__wrapper:nth-of-type(3) {
    bottom: -61%;
    right: -25%;
  }
}
@media screen and (min-width: 1440px) {
  .m_mission_content__wrapper:nth-of-type(3) {
    bottom: -38%;
    right: -25%;
  }
}
.m_mission_content__wrapper:nth-of-type(3) .m_misson_content__title {
  font-size: 13px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .m_mission_content__wrapper:nth-of-type(3) .m_misson_content__title {
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .m_mission_content__wrapper:nth-of-type(3) .m_misson_content__title {
    font-size: 20px;
    line-height: 30px;
  }
}
.m_mission_content__wrapper:nth-of-type(3) .m_mission_content__sentence {
  font-size: 11px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .m_mission_content__wrapper:nth-of-type(3) .m_mission_content__sentence {
    font-size: 14px;
    line-height: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .m_mission_content__wrapper:nth-of-type(3) .m_mission_content__sentence {
    font-size: 16px;
    line-height: 24px;
  }
}
@media screen and (min-width: 768px) {
  .m_mission_content__img {
    width: 200px;
    height: 300px;
  }
}

.m_services__container {
  width: 100%;
  overflow-x: hidden;
  -webkit-animation: stepline 20s steps(16) infinite;
          animation: stepline 20s steps(16) infinite;
  padding: 26px 0;
  background: url("../img/bird-line_sp.png") no-repeat;
}
@media screen and (min-width: 768px) {
  .m_services__container {
    background: url("../img/bird-line.png") no-repeat;
  }
}
@media screen and (min-width: 1440px) {
  .m_services__container {
    background-position: 0 0;
    background: url("../img/bird-line.png") no-repeat;
  }
}
@-webkit-keyframes stepline {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100px 0;
  }
}
@keyframes stepline {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100px 0;
  }
}
.m_services__wrapper {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  margin-top: 40px;
  padding-left: 16px;
  padding-bottom: 18px;
  padding-top: 18px;
  width: 90%;
  background-color: #f9faf1;
}
@media screen and (min-width: 768px) {
  .m_services__wrapper {
    margin-top: 140px;
    border-top-right-radius: 206px;
    border-bottom-right-radius: 206px;
  }
}
@media screen and (min-width: 768px) {
  .m_services__wrapper.__sp {
    display: none;
  }
}
.m_services__wrapper.__pc {
  display: none;
}
@media screen and (min-width: 768px) {
  .m_services__wrapper.__pc {
    display: block;
  }
}
@media screen and (min-width: 1440px) {
  .m_services__wrapper.__pc {
    display: block;
    padding: 45px;
  }
}
.m_services__wrapper.__pc .m_services__img-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
}
@media screen and (min-width: 768px) {
  .m_services__wrapper.__pc .m_services__img-title {
    gap: 40px;
    margin-left: 20px;
  }
}
@media screen and (min-width: 768px) {
  .m_services__wrapper.__pc .m_services__img-title {
    gap: 100px;
    margin-left: 40px;
  }
}
.m_services__wrapper.__pc .m_services__img-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 520px;
          flex: 0 1 520px;
}
@media screen and (min-width: 768px) {
  .m_services__wrapper.__pc .m_services__img-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media screen and (min-width: 1440px) {
  .m_services__wrapper.__pc .m_services__img-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
.m_services__wrapper.__pc .m_services__title-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  font-size: 15px;
  line-height: 22px;
}
@media screen and (min-width: 768px) {
  .m_services__wrapper.__pc .m_services__title-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 70%;
            flex: 0 1 70%;
  }
}
@media screen and (min-width: 1440px) {
  .m_services__wrapper.__pc .m_services__title-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 70%;
            flex: 0 1 70%;
  }
}
.m_services__wrapper.__pc .m_services__title-wrapper .m_services__title {
  font-size: 20px;
  line-height: 25px;
}
@media screen and (min-width: 1440px) {
  .m_services__wrapper.__pc .m_services__title-wrapper .m_services__title {
    font-size: 24px;
    line-height: 36px;
  }
}
.m_services__wrapper.__pc .m_services__title-wrapper .m_services_sentence {
  font-size: 16px;
  line-height: 24px;
}
@media screen and (min-width: 768px) {
  .m_services__wrapper.__pc .m_services__pc-bp {
    display: none;
  }
}
.m_services__wrapper.__even {
  width: 95%;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  position: relative;
  left: 5%;
}
@media screen and (min-width: 768px) {
  .m_services__wrapper.__even {
    left: 12%;
    width: 100%;
    border-top-left-radius: 206px;
    border-bottom-left-radius: 206px;
  }
}
.m_services__wrapper.__even .m_services__sentence {
  width: 80%;
  padding: 0 0 16px 40px;
}
.m_services__wrapper.__even.__pc .m_services__img-title {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.m_services__wrapper.__even.__pc .m_services__img-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.m_services__wrapper.__even.__pc .m_services__title-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
  padding-left: 24px;
}
.m_services__wrapper.__even.__pc .m_services__title-wrapper .m_services__title {
  white-space: nowrap;
  font-size: 18px;
  padding-left: 24px;
  line-height: 24px;
}
@media screen and (min-width: 1440px) {
  .m_services__wrapper.__even.__pc .m_services__title-wrapper .m_services__title {
    font-size: 24px;
    line-height: 36px;
  }
}
.m_services__wrapper.__even.__pc .m_services__sentence {
  font-size: 18px;
  line-height: 24px;
}
@media screen and (min-width: 1440px) {
  .m_services__wrapper.__even.__pc .m_services__sentence {
    font-size: 18px;
    line-height: 24px;
  }
}
.m_services__img-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  width: 80%;
}
.m_services__img-title.__even {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.m_services__img-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 150px;
          flex: 0 1 150px;
}
.m_services__title-wrapper {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 150px;
          flex: 0 1 150px;
}
.m_services__title {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 34px;
}
.m_services__sentence {
  margin: 14px auto 0 10px;
  font-size: 11px;
  font-weight: 400;
  width: 71%;
}

.m_recruit__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .m_recruit__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.m_recruit__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0;
  border-radius: 20px;
  border-top: 1px solid #d9e27e;
  border-left: 1px solid #d9e27e;
  border-top: 1px solid #d9e27e;
  border-bottom-right-radius: 0px;
}
@media screen and (min-width: 768px) {
  .m_recruit__wrapper {
    height: 320px;
    width: 30%;
  }
  .m_recruit__wrapper:not(:first-child) {
    margin-left: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .m_recruit__wrapper {
    height: 420px;
  }
  .m_recruit__wrapper:not(:first-child) {
    margin-left: 70px;
  }
}
.m_recruit__title {
  font-size: 15px;
  font-weight: 700;
  margin-top: 14px;
}
@media screen and (min-width: 1440px) {
  .m_recruit__title {
    font-size: 20px;
    line-height: 30px;
  }
}
.m_recruit__sentence {
  font-size: 13px;
  font-weight: 400;
  margin-top: 20px;
  padding: 0 12px;
}
@media screen and (min-width: 768px) {
  .m_recruit__sentence .m_services__pc-bp {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .m_recruit__sentence {
    font-size: 16px;
    line-height: 24px;
  }
}

.company_info {
  position: relative;
}
.company_info__img-wrapper .company_info__img {
  display: block;
  margin-left: 18px;
}
@media screen and (min-width: 768px) {
  .company_info__img-wrapper .company_info__img {
    display: none;
    margin-left: 0;
  }
}
.company_info__img-wrapper .company_info__img__pc {
  display: none;
}
@media screen and (min-width: 768px) {
  .company_info__img-wrapper .company_info__img__pc {
    display: block;
  }
}
.company_info__container {
  position: absolute;
  top: 0%;
  left: 5%;
  width: 80%;
}
@media screen and (min-width: 768px) {
  .company_info__container {
    top: 0%;
    left: 50%;
    width: 50%;
  }
}
.company_info__container .m_company_info__wrapper {
  padding-bottom: 22px;
  border-bottom: 1px solid #d9e27e;
  width: 100%;
  padding-left: 32px;
}
.company_info__container .m_company_info__wrapper:not(:first-child) {
  margin-top: 20px;
}
.company_info__container .m_company_info__wrapper:last-child {
  border-bottom: none;
}
.company_info__container .m_company_info__term {
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
}
@media screen and (min-width: 768px) {
  .company_info__container .m_company_info__term {
    font-size: 20px;
    line-height: 30px;
  }
}
.company_info__container .m_company_info__description {
  margin-top: 8px;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
}
@media screen and (min-width: 768px) {
  .company_info__container .m_company_info__description {
    font-size: 16px;
    line-height: 24px;
  }
}
.company_info__container .m_company_info__description__item {
  font-size: 16px;
  line-height: 24px;
  list-style-type: circle;
  list-style-image: #45483f;
}

.l_header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .l_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    background-color: #fff;
    opacity: 0.6;
  }
}
.l_header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.l_header_logo {
  margin: 12px;
}
.l_header_logo:hover {
  opacity: 0.6;
}
.l_header_logo__sentence {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .l_header_logo__sentence {
    font-size: 20px;
    line-height: 25px;
  }
}
@media screen and (min-width: 1440px) {
  .l_header_logo__sentence {
    font-size: 30px;
    line-height: 37px;
  }
}
.l_header_sp {
  background-color: #f9faf1;
  height: 60px;
  width: 60px;
  border-bottom-left-radius: 15px;
  cursor: pointer;
  z-index: 10;
  position: absolute;
  right: 0;
}
@media screen and (min-width: 768px) {
  .l_header_sp {
    display: none;
  }
}
.l_header_hamburger {
  position: relative;
  width: 50px;
  height: 40px;
  display: block;
}
.l_header_hamburger__bar {
  position: absolute;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  width: 100%;
  height: 1px;
  background-color: #606651;
}
.l_header_hamburger__bar:nth-child(1) {
  width: 80%;
  top: 50%;
  right: 0;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.l_header_hamburger__bar:nth-child(1).is_active {
  -webkit-transform: rotate(-45deg) translate(-25%, -10%);
          transform: rotate(-45deg) translate(-25%, -10%);
}
.l_header_hamburger__bar:nth-child(2) {
  width: 50%;
  top: 90%;
  right: 0;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.l_header_hamburger__bar:nth-child(2).is_active {
  -webkit-transform: rotate(-135deg) translate(25%, 125%);
          transform: rotate(-135deg) translate(25%, 125%);
  width: 80%;
}
.l_header .l_hamburger__container {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.8;
  z-index: 3;
  padding-left: 24px;
}
.l_header .l_hamburger_nav {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.l_header .l_hamburger_item {
  font-size: 20px;
  font-weight: 600;
  line-height: 14px;
}
.l_header .l_hamburger_item:hover {
  opacity: 0.6;
}
.l_header .l_hamburger_item:not(:first-child) {
  padding-top: 20px;
}
.l_header .l_hamburger_link:hover {
  opacity: 0.6;
}
.l_header .l_hamburger__wrapper {
  margin-top: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.l_header_pc {
  display: none;
}
@media screen and (min-width: 768px) {
  .l_header_pc {
    display: block;
    height: 100%;
  }
}
.l_header_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
}
.l_header_item {
  font-size: 18px;
  font-weight: 600;
  height: 100%;
}
.l_header_item:hover {
  opacity: 0.6;
}
@media screen and (min-width: 1440px) {
  .l_header_item {
    font-size: 18px;
    line-height: 25px;
  }
}
.l_header_item:not(:first-child) {
  margin-left: 16px;
}
@media screen and (min-width: 1440px) {
  .l_header_item:not(:first-child) {
    margin-left: 24px;
  }
}
.l_header_item:last-child {
  margin-right: 20px;
}
.l_header_link {
  display: block;
  height: 100%;
  padding: 16px 0;
}
.l_header_link:hover {
  opacity: 0.6;
}

.l_footer {
  width: 100%;
  margin-top: 60px;
}
.l_footer_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 24px;
}
@media screen and (min-width: 768px) {
  .l_footer_nav.__sp {
    display: none;
  }
}
.l_footer_nav.__pc {
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .l_footer_nav.__pc .l_footer_item {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    margin-top: 15px;
  }
}
.l_footer_item {
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
}
.l_footer_item:hover {
  opacity: 0.6;
}
.l_footer_item:not(:first-child) {
  margin-top: 10px;
}
.l_footer_link {
  padding: 16px 0;
}
.l_footer_link:hover {
  opacity: 0.6;
}
.l_footer__container {
  margin-top: 30px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (min-width: 768px) {
  .l_footer__container.__sp {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .l_footer__container.__pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0px;
  }
}
.l_footer__container.__pc .l_footer__logo {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.l_footer__container.__pc .l_footer__copy-right {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}
.l_footer_pc {
  display: none;
}
@media screen and (min-width: 768px) {
  .l_footer_pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 24px;
  }
}

.u_mission-circle {
  width: 300px;
  height: 100%;
  margin: auto;
  position: relative;
  -webkit-transform: translate(0%, -90%);
          transform: translate(0%, -90%);
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .u_mission-circle {
    width: 400px;
    -webkit-transform: translateY(-45%);
            transform: translateY(-45%);
  }
}
@media screen and (min-width: 1080px) {
  .u_mission-circle {
    width: 500px;
    -webkit-transform: translateY(-22%);
            transform: translateY(-22%);
  }
}
@media screen and (min-width: 1440px) {
  .u_mission-circle {
    width: 500px;
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}
.u_mission-circle::after {
  background: url("../img/bird-circle02.png");
  display: block;
  content: "";
  width: 100%;
  height: 500px;
  position: absolute;
  top: 0;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 0.51, 0.51, 0.52);
          animation-timing-function: cubic-bezier(0.5, 0.51, 0.51, 0.52);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  z-index: -1;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}
.u_bird-steps {
  height: 100px;
  width: 100%;
}
.u_bird-steps.__works-bottom {
  -webkit-transform: rotateZ(-180deg);
          transform: rotateZ(-180deg);
}
.u_bird-steps.__contact {
  display: none;
}
.u_bird-steps .u_bird-step {
  width: 1440px;
  height: 40px;
  margin: auto;
  background: url("../img/uguRtoL4.png") no-repeat, url("../img/bird02.png") no-repeat;
  -webkit-animation: stepline 20s steps(19) infinite;
          animation: stepline 20s steps(19) infinite;
}

.u_bird-steps__footer {
  height: 300px;
  width: 50%;
  background-position: 0 0;
  background: url("../img/bird_line-footer_pc.png") no-repeat;
  -webkit-animation: stepline 20s steps(16) infinite;
          animation: stepline 20s steps(16) infinite;
}

@keyframes stepline {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -27360px 0;
  }
}
.u_bird-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  margin: 60px auto;
}
.u_bird-line.__works {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.u_bird-line span {
  width: 5px;
  height: 5px;
  border-radius: 100vh;
  background-color: #d9e27e;
}
.u_bird-line.__contact {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.u_bird-line.__contact span {
  position: absolute;
}
.u_bird-line.__contact img {
  position: absolute;
}
.u_bird-line.__contact span:nth-child(1) {
  top: 10%;
  right: 30%;
}
.u_bird-line.__contact span:nth-child(2) {
  position: absolute;
  top: 20%;
  right: 15%;
}
.u_bird-line.__contact span:nth-child(3) {
  top: 40%;
  right: 5%;
}
.u_bird-line.__contact span:nth-child(4) {
  top: 60%;
  right: 0%;
}
.u_bird-line.__contact span:nth-child(5) {
  top: 80%;
  right: 2%;
}
.u_bird-line.__contact img:nth-child(6) {
  top: 0%;
  right: 50%;
}
.u_bird-line.__contact.__contact-pc {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.u_bird-line.__contact.__contact-pc span {
  position: absolute;
}
.u_bird-line.__contact.__contact-pc img {
  position: absolute;
}
.u_bird-line.__contact.__contact-pc span:nth-child(1) {
  top: 10%;
  right: 30%;
}
.u_bird-line.__contact.__contact-pc span:nth-child(2) {
  position: absolute;
  top: 20%;
  right: 15%;
}
.u_bird-line.__contact.__contact-pc span:nth-child(3) {
  top: 40%;
  right: 5%;
}
.u_bird-line.__contact.__contact-pc span:nth-child(4) {
  top: 60%;
  right: 0%;
}
.u_bird-line.__contact.__contact-pc span:nth-child(5) {
  top: 80%;
  right: 2%;
}
.u_bird-line.__contact.__contact-pc img:nth-child(6) {
  top: 0%;
  right: 50%;
}

body {
  font-family: "Zen Maru Gothic", "Montserrat", sans-serif;
}

@media screen and (min-width: 768px) {
  .kv_ks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 60px;
  }
}
.kv_ks .ks_container {
  position: relative;
  height: 120px;
  font-size: 35px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 50px;
  max-width: 500px;
  margin: 0 auto;
}
.kv_ks .ks._top {
  position: absolute;
  top: 10%;
  left: 7%;
}
@media screen and (min-width: 768px) {
  .kv_ks .ks._top {
    position: relative;
    top: 0%;
    left: 10%;
    white-space: nowrap;
    font-size: 50px;
    font-weight: 700;
  }
}
@media screen and (min-width: 1440px) {
  .kv_ks .ks._top {
    position: relative;
    top: 200%;
    left: 15%;
    white-space: nowrap;
    font-size: 70px;
    font-weight: 700;
    line-height: 100px;
  }
}
.kv_ks .ks._bottom {
  position: absolute;
  top: 45%;
  right: 15%;
}
@media screen and (min-width: 768px) {
  .kv_ks .ks._bottom {
    position: relative;
    left: -30%;
    top: 50%;
    white-space: nowrap;
    font-size: 60px;
    font-weight: 700;
  }
}
@media screen and (min-width: 1440px) {
  .kv_ks .ks._bottom {
    position: relative;
    left: -30%;
    top: 280%;
    white-space: nowrap;
    font-size: 60px;
    font-weight: 700;
    line-height: 88px;
  }
}
.kv_ks .ks._bottom .ks_accent {
  color: #d9e27e;
}
.kv_ks .kv_container .kv_img {
  display: block;
}
@media screen and (min-width: 768px) {
  .kv_ks .kv_container .kv_img {
    display: none;
  }
}
.kv_ks .kv_container .kv_img__pc {
  display: none;
}
@media screen and (min-width: 768px) {
  .kv_ks .kv_container .kv_img__pc {
    display: block;
    -webkit-transform: translateY(-22%);
            transform: translateY(-22%);
    width: 80%;
  }
}
@media screen and (min-width: 1080px) {
  .kv_ks .kv_container .kv_img__pc {
    display: block;
    -webkit-transform: translateY(-12%);
            transform: translateY(-12%);
    width: 80%;
  }
}
@media screen and (min-width: 1440px) {
  .kv_ks .kv_container .kv_img__pc {
    display: block;
    -webkit-transform: translateY(-8%);
            transform: translateY(-8%);
    width: 100%;
  }
}

.mission_content__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 40px auto;
  position: relative;
  max-width: 440px;
  height: 30vh;
}
@media screen and (min-width: 768px) {
  .mission_content__container {
    height: 40vh;
  }
}

.works_table {
  width: 100%;
  max-width: 865px;
  margin: 0 auto;
}
.works_table-body {
  width: 100%;
  text-align: center;
  font-size: 10px;
  line-height: 12px;
}
.works_table-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px 8px;
}
.works_table-row:not(:first-child) {
  margin-top: 6px;
  height: 100px;
}
.works_table-head {
  text-align: center;
  font-weight: 400;
  width: 30%;
  height: 100%;
  padding: 16px;
  margin-right: 7px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e6e8dc;
  font-size: 10px;
}
@media screen and (min-width: 768px) {
  .works_table-head {
    font-size: 13px;
    line-height: 18px;
  }
}
@media screen and (min-width: 768px) {
  .works_table-head .m_services__pc-bp {
    display: none;
  }
}
.works_table-head.__first {
  background-color: #f0f3d7;
  height: 25px;
}
@media screen and (min-width: 1440px) {
  .works_table-head.__first {
    font-size: 16px;
    line-height: 22px;
  }
}
.works_table-data {
  width: 80%;
  height: 100%;
  padding: 16px;
  border-radius: 10px;
  background-color: #f9faf1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
}
@media screen and (min-width: 768px) {
  .works_table-data {
    font-size: 13px;
    line-height: 18px;
  }
}
@media screen and (min-width: 768px) {
  .works_table-data .m_services__pc-bp {
    display: none;
  }
}
.works_table-data.__first {
  background-color: #f0f3d7;
  height: 25px;
}
@media screen and (min-width: 1440px) {
  .works_table-data.__first {
    font-size: 16px;
    line-height: 22px;
  }
}

.company_info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact_img-wrapper.__contact {
  -webkit-animation: stepline 20s steps(16) infinite;
          animation: stepline 20s steps(16) infinite;
  background: url("../img/bird-line_sp.png") no-repeat;
  max-width: 500px;
  padding: 24px;
}
@media screen and (min-width: 768px) {
  .contact_img-wrapper.__contact {
    display: none;
  }
}
@keyframes stepline {
  0% {
    background-position: 6px -3px;
  }
  100% {
    background-position: 30px 0;
  }
}
.contact_img-wrapper.__contact-pc {
  -webkit-animation: steplinecontact 20s steps(16) infinite;
          animation: steplinecontact 20s steps(16) infinite;
  background: url("../img/bird-line_sp.png") no-repeat;
  max-width: 500px;
  padding: 24px;
}
@-webkit-keyframes steplinecontact {
  0% {
    background-position: 262px -2px;
  }
  100% {
    background-position: 30px 0;
  }
}
@keyframes steplinecontact {
  0% {
    background-position: 262px -2px;
  }
  100% {
    background-position: 30px 0;
  }
}
.contact_img {
  -webkit-box-shadow: 50px 20px 0 #f9faf1;
          box-shadow: 50px 20px 0 #f9faf1;
  border-radius: 100px;
  margin-left: 24px;
}
@media screen and (min-width: 768px) {
  .contact_img {
    width: 400px;
    -webkit-box-shadow: 50px 45px 0 #f9faf1;
            box-shadow: 50px 45px 0 #f9faf1;
  }
}
@media screen and (min-width: 768px) {
  .contact_button-wrapper.__contact {
    display: none;
  }
}
.contact_button__link {
  font-weight: 600;
  font-size: 15px;
  white-space: nowrap;
  background-color: #d9e27e;
  display: block;
  text-align: center;
  padding: 14px 90px;
  border-radius: 100vh;
  max-width: 300px;
  margin: 80px auto 0 auto;
  cursor: pointer;
}
.contact_button__link:hover {
  opacity: 0.9;
}
.contact_button__link::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-top: 2px solid #45483f;
  border-right: 2px solid #45483f;
  -webkit-transform: rotate(45deg) translateY(-190%);
          transform: rotate(45deg) translateY(-190%);
  position: relative;
  right: -140%;
}
@media screen and (min-width: 1440px) {
  .contact_button__link {
    font-size: 20px;
    line-height: 20px;
  }
}
.contact_pc {
  display: none;
}
@media screen and (min-width: 768px) {
  .contact_pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}