@use 'setting' as set;

body {
    font-family: 'Zen Maru Gothic','Montserrat', sans-serif;
}

// key visual key sentence
.kv_ks {
        @include set.mq() {
            display: flex;
            margin-top: 60px;
        }


    .ks {
        
        &_container {
            position: relative;
            height: 120px;
            font-size: 35px;
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 50px;
            max-width: 500px;
            margin: 0 auto;

            // @include set.mq(){
            //     flex-direction: column;
            // }

            
        }
        // img relative


        &._top {

            position: absolute;
            top: 10%;
            left: 7%;

            @include set.mq(){
                position: relative;
                top: 0%;
                left: 10%;
                white-space: nowrap;
                font-size: 50px;
                font-weight: 700;
            }

            @include set.mq(xl){
                position: relative;
                top: 200%;
                left: 15%;
                white-space: nowrap;
                font-size: 70px;
                font-weight: 700;
                line-height: 100px;
            }
        }

        &._bottom {
            // 500px relative
            position: absolute;
            top: 45%;
            right: 15%;

            @include set.mq(){
                position: relative;
                left: -30%;
                top: 50%;
                white-space: nowrap;
                font-size: 60px;
                font-weight: 700;
            }

            @include set.mq(xl){
                position: relative;
                left: -30%;
                top: 280%;
                white-space: nowrap;
                font-size: 60px;
                font-weight: 700;
                line-height: 88px;
            }
            
            .ks_accent {
                color: set.$yellow-color;
            }
        }
    }

    .kv {
        &_container {
            & .kv_img {

                display: block;

                @include set.mq(){
                    display: none
                }

            }

            & .kv_img__pc {
                display: none;

                @include set.mq() {
                    display: block;
                    transform: translateY(-22%);
                    width: 80%;
                }

                @include set.mq(lg) {
                    display: block;
                    transform: translateY(-12%);
                    width: 80%;
                }

                @include set.mq(xl) {
                    display: block;
                    transform: translateY(-8%);
                    width: 100%;
                }
            }
        }
    }
}

// mission
.mission_content__container {
    @include set.flex();
    flex-direction: column;
    margin: 40px auto;
    position: relative;
    max-width: 440px;
    height: 30vh;

    @include set.mq() {
        height: 40vh;
    }
    @include set.mq(lg) {
        height: 50vh;
    }
    @include set.mq(xl) {
        height: 60vh;
    }


}

// works

.works_table {
    width: 100%;
    max-width: 865px;
    margin: 0 auto;
    
    &-body {
        width: 100%;
        text-align: center;
        font-size: 10px;
        line-height: 12px;
    }
    
    &-row {
        width: 100%;
        @include set.flex();
        padding: 2px 8px;
        
        &:not(:first-child) {
            margin-top: 6px;
            height: 100px;
        }

    }
    

    
    &-head {
        text-align: center;
        font-weight: 400;
        width: 30%;
        height: 100%;
        padding: 16px;
        margin-right: 7px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: set.$lightWhite-color;
        font-size: 10px;

        @include set.mq() {
            font-size: 13px;
            line-height: 18px;
        }

        & .m_services__pc-bp {
            @include set.mq() {
                display: none;
            }
        }

        
        &.__first {
            background-color: set.$deepWhite-color;
            height: 25px;

            @include set.mq(xl) {
                font-size: 16px;
                line-height: 22px;
            }
        }
    }

    &-data {
        width: 80%;
        height: 100%;
        padding: 16px;
        border-radius: 10px;
        background-color: set.$baseWhite-color;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;

        @include set.mq() {
            font-size: 13px;
            line-height: 18px;
        }

        & .m_services__pc-bp {
            @include set.mq() {
                display: none;
            }
        }

        &.__first {
            background-color: set.$deepWhite-color;
            height: 25px;

            @include set.mq(xl) {
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
}

// company

.company_info__container {
    @include set.flex(flex-start,flex-start);
    flex-direction: column;
}

// contact

.contact {

    &_img-wrapper.__contact {

        animation: stepline 20s steps(16) infinite;
        background: url("../../img/bird-line_sp.png") no-repeat;
        // background-position: 0 0;
        max-width: 500px;
        padding: 24px;
        // margin: 10px auto;
        @include set.mq() {
            display: none;
        }
    }

    @keyframes stepline {
        0%{
            background-position: 6px -3px;
        }
        100%{
            background-position: 30px 0;
        }
    }

    &_img-wrapper.__contact-pc {
        animation: steplinecontact 20s steps(16) infinite;
        background: url("../../img/bird-line_sp.png") no-repeat;
        // background-position: 0 0;
        max-width: 500px;
        padding: 24px;
    }

    @keyframes steplinecontact {
        0%{
            background-position: 262px -2px;
        }
        100%{
            background-position: 30px 0;
        }
    }
    
    &_img {
        box-shadow: 50px 20px 0 set.$baseWhite-color;
        border-radius: 100vh;
        margin-left: 24px;

        @include set.mq() {
            width: 400px;
            box-shadow: 50px 45px 0 set.$baseWhite-color;
        }
    }

    &_button-wrapper {

        &.__contact {
            @include set.mq() {
                display: none;
            }
        }

    }

    &_button__link {
        font-weight: 600;
        font-size: 15px;
        white-space: nowrap;
        background-color: set.$yellow-color;
        display: block;
        text-align: center;
        padding: 14px 90px;
        border-radius: 100vh;
        max-width: 300px;
        margin: 80px auto 0 auto;
        cursor: pointer;

        &:hover {
            opacity: 0.9;
        }

        &::after {
            content: "";
            display: block;
            width: 8px;
            height: 8px;
            border-top: 2px solid set.$black-color;
            border-right: 2px solid set.$black-color;
            transform: rotate(45deg) translateY(-190%);
            position: relative;
            right: -140%;
        }

        @include set.mq(xl) {
            font-size: 20px;
            line-height: 20px;
        }
    }

    &_pc {
        display: none;
        
        @include set.mq() {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }
}