// mixin

@mixin flex($justify: center , $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

// @mixin flex($justify, $align) {
// display: flex;
// justify-content: $justify;
// align-items: $align;
// 
// .flex {
//      @include flex(center,center);
// }

// .container {
//          @include flex(space-between);
// }