// module
@use 'variable' as var;
@use 'breakpoints' as bp;
@use 'mixin' as min;

.m_section{
    &_title {
        line-height: 34px;
        font-weight: 700;
        font-size: 24px;
        margin-top: 60px;
        letter-spacing: 6px;
        text-align: center;
        color: var.$green-color;

        @include bp.mq() {
            font-size: 40px;
            line-height: 54px;
        }

        @include bp.mq(xl) {
            font-size: 60px;
            line-height: 84px;
        }
    
        &__container {
            @include min.flex();
            flex-direction: column;

            &.__mission {
                padding-bottom: 60px;
            }
            
            &.__services {
                padding-top: 80px;
                margin-bottom: 40px;

                @include bp.mq() {
                    position: relative;
                }
            }

            &.__works, &.__recruit, &.__company , &.__contact{
                margin-bottom: 40px;

                @include bp.mq() {
                    margin: 100px 0;
                }
            }

            // &.__wprks {

            // }
            &.__contact {
                @include bp.mq(){
                    display: none;
                }
            }

            &.__pc {
                @include bp.mq() {
                    @include min.flex(flex-start, center);
                    flex-direction: column;
                    text-align: left;

                }
            }
        }

        &__accent {
            color: var.$brawn-color;
        }
        

        
        & + .m_section_subtitle {
            @include bp.mq() {
                font-size: 15px;
                line-height: 22px;
            }
            @include bp.mq(xl) {
                font-weight: 400;
                font-size: 20px;
                line-height: 29px;

            }

            &.__contact {
                margin-top: 40px
            }

            &.__works {
                text-align: center;
                .m_services__pc-bp {
                    display: none;
                }
            }
            &.__recruit {
                text-align: center;
                .m_services__pc-bp {
                    display: none;
                }
            }

            &.__pc {
                margin-top: 45px;
            }
        }
    }
}

.m_icon {
    &-small {
        width: 50px;
        height: 50px;
        position: relative;

        @include bp.mq() {
            display: none;
        }

        & img {
            animation: logoRotate 10s infinite ease;
            transform-origin: center center;

        }

        &__pc {
            display: none;

            @include bp.mq() {
                display: block;
                position: absolute;
                top: 5%;
                left: -97%;
            }

            @include bp.mq(xl) {
                display: block;
                position: absolute;
                top: 25%;
                left: -135%;
            }

            & img {
                animation: logoRotate 10s infinite ease;
                transform-origin: center center;

            }
        }

        &.__recruit {
            img {
                position: absolute;
                left: -50%;
            }
        }
    }

    &-middle {
        transform: translateY(100%);

        & img {
            animation: logoRotate 10s infinite ease;
            transform-origin: center center;

        }

        &__pc {
            display: none;
            // overflow-x: hidden;

            @include bp.mq() {
                display: block;
                position: absolute;
                right: 0;

                & img {
                    animation: logoRotate 10s infinite ease;
                    transform-origin: center center;

                }
            }

            @include bp.mq(xl) {
                display: block;
                position: absolute;
                right: -5%;

                & img {
                    animation: logoRotate 10s infinite ease;
                    transform-origin: center center;

                }
            }

            &.__works {
                text-align: left;
                left: 0;
                transform: translateY(-30%);

                @include bp.mq() {
                    // text-align: left;
                    transform: scale(.5) translateY(-90%);
                    left: -33%;
                    // transform: translateY(-30%);
                }

                @include bp.mq(xl) {
                    // text-align: left;
                    transform: scale(1) translateY(-50%);
                    left: -8%;
                    width: 90%;
                    // transform: translateY(-30%);
                }

                & img {
                    animation: logoRotate 10s infinite ease;
                    transform-origin: center center;

                }
            }

            &.__recruit {
                right: 0;
                transform: translateY(-70%);

                & img {
                    animation: logoRotate 10s infinite ease;
                    transform-origin: center center;

                }
            }

            &.__company-sm {
                left: -9%;
                top: -70%;

                @include bp.mq(xl) {
                    left: -25%;
                    width: 100vw;
                    top: -60%;
                }

                & img {
                    animation: logoRotate 10s infinite ease;
                    transform-origin: center center;

                }
            }

            &.__company-md {
                right: -9%;
                top: -50%;

                @include bp.mq(xl) {
                    right: -28%;
                    top: -40%;
                }

                & img {
                    animation: logoRotate 10s infinite ease;
                    transform-origin: center center;

                }
            }
        }
    }

    &-big {
        text-align: right;

        & img {
            animation: logoRotate 10s infinite ease;
            transform-origin: center center;

        }

        &__pc {
            display: none;

            @include bp.mq() {
                display: block;
                position: absolute;
                text-align: right;
                top: -110%;
                right: -55%;
                transform: scale(.5);

            }
            & img {
                animation: logoRotate 10s infinite ease;
                transform-origin: center center;

            }

            @include bp.mq(xl) {
                display: block;
                position: absolute;
                text-align: right;
                top: -120%;
                right: -110%;
                transform: scale(1);

                & img {
                    animation: logoRotate 10s infinite ease;
                    transform-origin: center center;

                }
            }
        }
    }

    @keyframes logoRotate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(-360deg)
        }
    }

}

.m_mission_content {

    &__wrapper {
        @include min.flex();
        flex-direction: column;
        position: absolute;
        z-index: 10;

        @include bp.mq() {
            width: 320px;
            height: 300px;
        }
        @include bp.mq() {
            transform: scale(1.1) translateY(20%);
        }

        &:nth-of-type(1) {
            top: -50%;

            @include bp.mq() {
                top: -83%;
            }

            @include bp.mq(lg) {
                top: -55%;
            }
            @include bp.mq(xl) {
                top: -39%;
            }

            .m_misson_content__title {
                font-size: 15px;
                font-weight: 700;

                @include bp.mq() {
                    font-size: 17px;
                    line-height: 24px;
                    margin-bottom: 30px;
                }

                @include bp.mq(xl) {
                    font-size: 20px;
                    line-height: 30px;
                }
            }

            .m_mission_content__sentence {
                font-size: 13px;
                font-weight: 400;

                @include bp.mq() {
                    font-size: 14px;
                    line-height: 20px;
                }

                @include bp.mq() {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }

        &:nth-of-type(2) {
            bottom: -94%;
            left: -8%;

            @include bp.mq() {
                bottom: -83%;
                left: -25%;
            }
            @include bp.mq(lg) {
                bottom: -66%;
                left: -20%;
            }
            @include bp.mq(xl) {
                bottom: -40%;
                left: -23%;
            }

            .m_misson_content__title {
                font-size: 13px;
                font-weight: 700;

                @include bp.mq() {
                    font-size: 17px;
                    line-height: 24px;
                    margin-bottom: 30px;
                }

                @include bp.mq(xl) {
                    font-size: 20px;
                    line-height: 30px;
                }

            }

            .m_mission_content__sentence {
                font-size: 11px;
                font-weight: 400;

                @include bp.mq() {
                    font-size: 14px;
                    line-height: 20px;
                }
                @include bp.mq(xl) {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }

        &:nth-of-type(3) {
            bottom: -86%;
            right: -6%;

            @include bp.mq() {
                bottom: -75%;
                right: -25%;
            }
            @include bp.mq(lg) {
                bottom: -61%;
                right: -25%;
            }
            @include bp.mq(xl) {
                bottom: -38%;
                right: -25%;
            }

            .m_misson_content__title {
                font-size: 13px;
                font-weight: 700;

                @include bp.mq() {
                    font-size: 17px;
                    line-height: 24px;
                    margin-bottom: 30px;
                }

                @include bp.mq(xl) {
                    font-size: 20px;
                    line-height: 30px;
                }
            }

            .m_mission_content__sentence {
                font-size: 11px;
                font-weight: 400;

                @include bp.mq() {
                    font-size: 14px;
                    line-height: 20px;
                }
                @include bp.mq(xl) {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }

    &__img {
        @include bp.mq() {
            width: 200px;
            height: 300px;
        }
    }
}

.m_services {

    &__container {
        width: 100%;
        overflow-x: hidden;
        animation: stepline 20s steps(16) infinite;
        padding: 26px 0;
        background: url("../../img/bird-line_sp.png") no-repeat;
        @include bp.mq() {
            background: url("../../img/bird-line.png") no-repeat;
        }
        @include bp.mq(xl) {
            background-position: 0 0;
            background: url("../../img/bird-line.png") no-repeat;
        }
        
        @keyframes stepline {
            0%{
                background-position: 0 0;
            }
            100%{
                background-position: 100px 0;
            }
        }
    }

    &__wrapper {
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        margin-top: 40px;
        padding-left: 16px;
        padding-bottom: 18px;
        padding-top: 18px;
        width: 90%;
        background-color: var.$baseWhite-color;
        // max-width: 1000px;


        @include bp.mq() {
            margin-top: 140px;
            border-top-right-radius: 206px;
            border-bottom-right-radius: 206px;
        }

        &.__sp {
            @include bp.mq() {
                display: none;
            }
        }

        &.__pc {
            display: none;

            @include bp.mq() {
                display: block;
            }
            @include bp.mq(xl) {
                display: block;
                padding: 45px;
            }

            & .m_services__img-title {
                display: flex;
                align-items: center;
                gap: 80px;
                // max-width: 1000px;

                @include bp.mq() {
                    gap: 40px;
                    margin-left: 20px;
                }

                @include bp.mq() {
                    gap: 100px;
                    margin-left: 40px;
                }
            }

            & .m_services__img-wrapper {
                flex: 0 1 520px;

                @include bp.mq() {
                    flex: 0 1 50%;
                }

                @include bp.mq(xl) {
                    flex: 0 1 50%;
                }
            }

            & .m_services__title-wrapper {
                flex: 0 1 60%;
                font-size: 15px;
                line-height: 22px;

                @include bp.mq() {
                    flex: 0 1 70%;
                }

                @include bp.mq(xl) {
                    flex: 0 1 70%;
                }

                & .m_services__title {

                    font-size: 20px;
                    line-height: 25px;

                    @include bp.mq(xl) {
                        font-size: 24px;
                        line-height: 36px;
                    }
                }

                & .m_services_sentence {
                    font-size: 16px;
                    line-height: 24px;
                }
            }

            & .m_services__pc-bp {
                @include bp.mq() {
                    display: none;
                }
            }
        }

        &.__even {
            width: 95%;
            border-top-left-radius: 100px;
            border-bottom-left-radius: 100px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            position: relative;
            left: 5%;

            @include bp.mq() {
                left: 12%;
                width: 100%;
                border-top-left-radius: 206px;
                border-bottom-left-radius: 206px;
            }

            & .m_services__sentence {
                width: 80%;
                padding: 0 0 16px 40px;
            }

            &.__pc {
                & .m_services__img-title {
                    flex-direction: row-reverse;
                }

                & .m_services__img-wrapper {
                    flex: 0 1 50%;
                }

                & .m_services__title-wrapper {
                    flex: 0 1 70%;
                    padding-left: 24px;
                    
                    & .m_services__title {
                        white-space: nowrap;
                        font-size: 18px;
                        padding-left: 24px;
                        line-height: 24px;

                        @include bp.mq(xl) {
                            font-size: 24px;
                            line-height: 36px;
                        }
                    }
                }
                    
                & .m_services__sentence {
                    font-size: 18px;
                    line-height: 24px;

                    @include bp.mq(xl) {
                        font-size: 18px;
                        line-height: 24px;
                    }
                }
            }
        }

    }

    &__img-title {
        display: flex;
        align-items: center;
        gap: 16px;
        width: 80%;

        &.__even {
            flex-direction: row-reverse;
        }
    }

    &__img-wrapper {
        flex: 0 1 150px;
    }

    &__title-wrapper {
        text-align: center;
        flex: 0 1 150px;
    }

    &__title {
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 34px;
    }

    &__sentence {
        margin: 14px auto 0 10px;
        font-size: 11px;
        font-weight: 400;
        width: 71%;
    }
}

.m_recruit {
    &__container {
        @include min.flex();
        flex-direction: column;
        margin: 0 auto;

        @include bp.mq() {
            flex-direction: row;
        }
    }

    &__wrapper {
        @include min.flex();
        flex-direction: column;
        padding: 50px 0;
        border-radius: 20px;
        border-top: 1px solid var.$yellow-color;
        border-left: 1px solid var.$yellow-color;
        border-top: 1px solid var.$yellow-color;
        border-bottom-right-radius: 0px;

        @include bp.mq() {
            height: 320px;
            width: 30%;

            &:not(:first-child) {
                margin-left: 60px;
            }
        }

        @include bp.mq(xl) {
            height: 420px;

            &:not(:first-child) {
                margin-left: 70px;
            }
        }
    }

    &__title {
        font-size: 15px;
        font-weight: 700;
        margin-top: 14px;

        @include bp.mq(xl) {
            font-size: 20px;
            line-height: 30px;
        }
    }

    &__sentence {
        font-size: 13px;
        font-weight: 400;
        margin-top: 20px;
        padding: 0 12px;

        & .m_services__pc-bp {
            @include bp.mq() {
                display: none;
            }
        }

        @include bp.mq(xl) {
            font-size: 16px;
            line-height: 24px;
        }
    }
}
.company_info {
    position: relative;

    &__img-wrapper {
        & .company_info__img {
            display: block;
            margin-left: 18px;

            @include bp.mq() {
                display: none;
                margin-left: 0;
            }
        }

        & .company_info__img__pc {
            display: none;

            @include bp.mq() {
                display: block;
            }
        }
    }

    &__container {
        position: absolute;
        top: 0%;
        left: 5%;
        width: 80%;

        @include bp.mq() {
            top: 0%;
            left: 50%;
            width: 50%;
        }

        & .m_company_info {
            
            &__wrapper{
                padding-bottom: 22px;
                border-bottom: 1px solid var.$yellow-color;
                width: 100%;
                padding-left: 32px;

                &:not(:first-child) {
                    margin-top: 20px;
                }

                &:last-child {
                    border-bottom: none;
                }
            }

            &__term {
                font-size: 15px;
                font-weight: 700;
                line-height: 22px;

                @include bp.mq() {
                    font-size: 20px;
                    line-height: 30px;
                }
            }

            &__description {
                margin-top: 8px;
                font-weight: 400;
                font-size: 13px;
                line-height: 19px;

                @include bp.mq() {
                    font-size: 16px;
                    line-height: 24px;
                }

                &__item {
                    font-size: 16px;
                    line-height: 24px;
                    list-style-type: circle;
                    list-style-image: var.$black-color;
                }
            }
        }
    }
}

// // end