// utility

@use 'variable' as var;
@use 'mixin' as min;
@use 'breakpoints' as bp;

.u_mission-circle {

    width: 300px;
    height: 100%;
    margin: auto;
    position: relative;
    transform: translate(0%,-90%);
    margin: 0 auto;

    @include bp.mq() {
        width: 400px;
        transform: translateY(-45%);
    }

    @include bp.mq(lg) {
        width: 500px;
        transform: translateY(-22%);
    }

    @include bp.mq(xl) {
        width: 500px;
        transform: translateY(-10%);
    }

    &::after {
        background: url("../../img/bird-circle02.png");
        display: block;
        content: "";
        width: 100%;
        height: 500px;
        position: absolute;
        top: 0;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        animation-name: rotate;
        animation-duration: 10s;
        animation-timing-function: cubic-bezier(0.5, 0.51, 0.51, 0.52);
        animation-iteration-count: infinite;
        z-index: -1;
    }

}

@keyframes rotate {
    0% {
        transform: rotateZ(360deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

.u_bird-steps {
    // margin: 20px 0;
    height: 100px;
    // @include min.flex();
    width: 100%;

    &.__works-bottom {
        transform: rotateZ(-180deg);
    }

    &.__contact {
        display: none;
    }
    
    .u_bird-step {
        // width: 300px;
        // height: 50px;
        // background: url("../../img/bird_line_sp__works__top.png") no-repeat;
        // animation: stepline 3s steps(4) infinite;

        width: 1440px;
        height: 40px;
        margin: auto;
        background: url("../../img/uguRtoL4.png") no-repeat, url("../../img/bird02.png") no-repeat;
        animation: stepline 20s steps(19) infinite;
        // transition-duration: 5s;
    }
}

.u_bird-steps__footer{
    height: 300px;
    width: 50%;
    background-position: 0 0;
    background: url("../../img/bird_line-footer_pc.png") no-repeat;
    animation: stepline 20s steps(16) infinite;
}

@keyframes stepline {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: -27360px 0;
    }
}

.u_bird-line {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 60px auto;

    &.__works {
        flex-direction: row-reverse;
    }

    span {
        width: 5px;
        height: 5px;
        border-radius: 100vh;
        background-color: var.$yellow-color;
    }

    &.__contact {
        flex-direction: row-reverse;

        & span  {
            position: absolute;
        }

        & img {
            position: absolute;
        }
        
        & span:nth-child(1) {
            top: 10%;
            right: 30%;
        }
        & span:nth-child(2) {
            position: absolute;
            top: 20%;
            right: 15%;
        }
        & span:nth-child(3) {
            top: 40%;
            right: 5%;
        }
        & span:nth-child(4) {
            top: 60%;
            right: 0%;
        }
        & span:nth-child(5) {
            top: 80%;
            right: 2%;
        }
        & img:nth-child(6) {
            top: 0%;
            right: 50%;
        }

    &.__contact-pc {
        flex-direction: row-reverse;

        & span  {
            position: absolute;
        }

        & img {
            position: absolute;
        }
        
        & span:nth-child(1) {
            top: 10%;
            right: 30%;
        }
        & span:nth-child(2) {
            position: absolute;
            top: 20%;
            right: 15%;
        }
        & span:nth-child(3) {
            top: 40%;
            right: 5%;
        }
        & span:nth-child(4) {
            top: 60%;
            right: 0%;
        }
        & span:nth-child(5) {
            top: 80%;
            right: 2%;
        }
        & img:nth-child(6) {
            top: 0%;
            right: 50%;
        }
    }
    }
}

