// color
    $yellow-color: #d9e27e;
    $green-color: #606651;
    $black-color: #45483f;
    $brawn-color: #9c6251;
    $baseWhite-color: #f9faf1;
    $deepWhite-color: #f0f3d7;
    $lightWhite-color: #e6e8dc;
// end
